<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          *ngIf="!isRoot"
          title="Back"
          (tap)="back()"
          src="/assets/img/icons/chevron-left.svg"
          alt=""
          width="32"
          height="32"
          title="Bootstrap"
        />
      </div>
      <div class="col-6">
        <h1>{{ currentTitle }}</h1>
      </div>
      <div class="col">
        <img (tap)="openSettings()" [@fadeAnimation] src="/assets/img/icons/gear.svg" alt="" width="32" height="32" title="Settings" />
      </div>
    </div>
  </div>
</header>
