<nav class="tab-container">
  <button
    class="back-button"
    (tap)="back()">
    <i
      class="material-icons back-icon"
      [ngClass]="{'back-icon-android': isAndroid, 'back-icon-ios': isIOS }"
      aria-hidden="true"
      *ngIf="!isRoot">arrow_back
    </i>
    <div class="icon-mask top"></div>
    <div class="icon-mask bottom"></div>
  </button>
  <div class="title-container">
    <div
    *ngFor="let title of titles; index as i;"
    [@titleAnimation]="titleState(i, titleElement)"
    class="text-container"
    #titleElement>
    </div>
  </div>
  <button (tap)="openSettings()" class="settings-icon" *ngIf="isRoot" [@fadeAnimation]>
    <i class="material-icons">settings_applications</i>
  </button>

  <button class="settings-icon" (tap)="back()">
    <i class="material-icons">settings</i>
  </button>
</nav>
<br/>
<h1>{{currentTitle}}</h1>
